# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=MASUKKAN_URL_SUPABASE_ANDA_DI_SINI
NEXT_PUBLIC_SUPABASE_ANON_KEY=MASUKKAN_ANON_KEY_SUPABASE_ANDA_DI_SINI
SUPABASE_SERVICE_KEY=MASUKKAN_SERVICE_ROLE_KEY_SUPABASE_ANDA_DI_SINI

# Sharia Compliance Assistant (RAG)
GOOGLE_API_KEY=MASUKKAN_API_KEY_GEMINI_DI_SINI
